<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${pageTitle}">MokaBoard</title>    

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<!-- jQuery library -->
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/jquery/js/jquery-2.2.4.min.js}"></script>
<!-- bootstrap -->
<link rel="stylesheet" th:href="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/bootstrap/src/css/bootstrap.min.css}">
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/bootstrap/src/js/bootstrap.min.js}"></script>
<!-- slick -->
<link rel="stylesheet" th:href="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/slick/css/slick.css}">
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/slick/js/slick.js}"></script>
<!-- scroll -->
<link rel="stylesheet" th:href="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/mCustomScrollbar/css/jquery.mCustomScrollbar.css}">
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/mCustomScrollbar/js/jquery.mCustomScrollbar.js}"></script>
<!-- masonry -->
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/masonry/js/masonry.pkgd.min.js}"></script>

<!-- datepicker -->
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/bootstrap-datetimepicker/js/moment.js}"></script>
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>

<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/vendor/transit/jquery.transit.js}"></script>

<!-- custom css, js -->
<link rel="stylesheet" th:href="@{/etc.clientlibs/yonsei/clientlibs/common/clientlib-site/site/common.css}">
<link rel="stylesheet" th:href="@{/etc.clientlibs/yonsei/clientlibs/hospital/clientlib-site/site/custom.css}">
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/common/clientlib-site/site/common.js}"></script>
<script th:src="@{/etc.clientlibs/yonsei/clientlibs/hospital/clientlib-site/site/custom.js}"></script>

</head>

<!-- body 태그 내부의 header 를 담당하는 부분이다. -->
<header th:replace="fragments/hospital/header :: headerFragment"></header>

<!-- 아래 div가 컨트롤러에 의해 교체되는 content 영역이다. -->
<div id="yuhs-container" layout:fragment="content"></div>

<!-- body 태그 내부의 footer 를 담당하는 부분이다. -->
<footer th:replace="fragments/hospital/footer :: footerFragment"></footer>

</html>
